@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-red: #E40303;
  --color-orange: #FF8C00;
  --color-yellow: #FFED00;
  --color-green: #008026;
  --color-blue: #004DFF;
  --color-purple: #750787;
  --color-black: #000000;
  --color-brown: #8B4513;
  --color-light-blue: #00BFFF;
  --color-pink: #FF69B4;
  --color-white: #FFFFFF;
  --color-yellow-ring: #FFD700;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}



@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  /* Define a keyframe animation for spinning */
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  /* Apply the animation using Tailwind's utility classes */
  .spin-slow {
    animation: spin 20s linear infinite;
  }
}/* Add these styles under the existing global styles */
html,
body {
  padding: 0;
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
 color: rgb(var(--foreground-rgb));
 background: linear-gradient(
    to right,
    var(--color-red), /* Red */
    var(--color-orange), /* Orange */
    var(--color-yellow), /* Yellow */
    var(--color-green), /* Green */
    var(--color-blue), /* Blue */
    var(--color-purple), /* Purple */
    var(--color-black), /* Black */
    var(--color-brown), /* Brown */
    var(--color-light-blue), /* Light Blue */
    var(--color-pink), /* Pink */
    var(--color-white), /* White */
    var(--color-yellow-ring) /* Yellow (Ring) */
  );
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

* {
  box-sizing: border-box;
}

/* Specific styles for components used in index.tsx */
.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: auto;
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: auto;
}

.footer {
  width: 100%;
  /* Add other styles as needed */
}

.title, .description {
  text-align: center;
}

.subtitle {
  font-size: 2rem;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin-top: 3rem;
}

.card {
  margin: 1rem;
  flex-basis: 45%;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
}

.card:hover, .card:focus, .card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h3 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 2em; /* Default size */
}

/* Smaller devices */
@media (max-width: 600px) {
  .logo {
    height: 1.5em;
  }
}

/* Larger devices */
@media (min-width: 1201px) {
  .logo {
    height: 3em;
  }
}
/* Menu Button Styles */
.menu-button,.user-button-large {
  display: inline-flex; /* Changed to inline-flex to center content */
  align-items: center; /* Center content vertically */
  justify-content: center; /* Center content horizontally */
  width: 80%; /* Set width to 100% of their container */
  padding: 8px 8px;
  margin: 5px;
  background-image: linear-gradient(145deg, var(--color-light-blue), var(--color-blue));
  color: white;
  text-align: center;
  border-radius: 12px;
  transition: all 0.3s ease;
}

.menu-button:hover, .user-button-large:hover {
  background-image: linear-gradient(145deg, var(--color-blue), var(--color-purple)); /* Change gradient on hover */
  transform: translateY(-2px); /* Lift button on hover */
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15); /* Larger shadow on hover */
}

.menu-button:active, .user-button-large:active {
  transform: translateY(1px); /* Push button down on click */
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1); /* Smaller shadow on click */
}
.helpLinks {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}

.helpLinks a {
  color: #0077cc;
  text-decoration: none;
}
.navbar-container {
  position: fixed;
  right: 0;
  top: 0;
  height: 50px;
  width: 100%; /* Ensure it spans the full width */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  background-color: var(--color-marble); /* Adjust background color as needed */
  border-bottom: 1px solid var(--color-light-blue); /* Adds a subtle border at the bottom */
  box-shadow: 0 4px 6px rgba(105, 30, 139, 0.1); /* Soft shadow for depth */
  z-index: 1000; /* Ensure it stays on top of other content */
}